body {
  background-color: rgb(12, 14, 25);
}
p {
  color: white;
  font-family: Verdana;
  font-size: 20px;
}
span {
  color: white;
  font-family: Verdana;
  font-size: 20px;
}
a {
  color: lightblue;
  font-family: Verdana;
  font-size: 20px;
  cursor: help;
}
a:hover {
  color: white;
}
h2 {
  color: white;
  font-family: Verdana;
  font-size: 30px;
}
h1 {
  color: white;
  font-family: Verdana;
  font-size: 45px;
}
button {
  font-size: 20px;
  box-shadow: 0px 3px 0px 0px gray;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  filter: sepia();
}
button:active {
  box-shadow: 0px 0px 0px 0px gray;
  transform: translateY(3px);
}
img {
  cursor: zoom-in;
}
img:active {
  transform: scale(1.5);
}
.error {
  background-color: rgb(228, 14, 14, 0.5);
}
.warning {
  background-color: rgb(229, 186, 16, 0.2);
  font-size: 15px;
}
.code {
  background-color: black;
  font-family: Courier New;
  text-align: left;
}